{% extends 'core/change_list.html' %}
{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block page_content %}
{% csrf_token %}

{% include "core/includes/list_header_card.html" with title="Create a new Practice Audience QA" subtitle="Create a new Practice Audience QA." show_button=True %}

<div class="ibox float-e-margins">


    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="{{ opts.model_name }}-table">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Question</th>

                        <th>Answer</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Event</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for o in object_list %}
                    <tr>

                        <td>{{ o.event.event_class.name }}</td>
                        <td>{{o.question }}</td>

                        <td>{{o.answer | safe }}</td>

                        <td class="row-actions">
                            {% include "core/partials/list_row_actions.html" %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
{{ block.super }}
<script src="{% static 'core/js/userroles.js' %}"></script>

<script>
    var pagination_url = "{% url opts|admin_urlname:'list-ajax' %}";
    $(function () {
        userroles.eventpracticeaudienceqa.index();
    });
</script>
{% endblock %}