{% load static %}
{% load admin_extras %}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header">
                  <a href="{% url 'core:index' %}">  
                <img class="nav-image" src="http://13.235.236.166/HTML/kuzo-development/assets/images/logo.png" width="100%" />
                 </a>  
                {% comment %} <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">
                                    {% if request.user.is_authenticated %}{{ request.user }} {% endif%}
                                </strong>
                            </span>
                            <span class="text-muted text-xs block">Co-Founder
                                <b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'auth:auth_logout' %}" class="nav-label">Logout</a>
                        </li>
                        {% endif%}
                    </ul>
                </div> {% endcomment %}
                <div class="logo-element">
                    UC
                </div>
            </li>



            {% if perms.users or request.user.is_staff %}
            <li {% if 'users/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'core:user-list' %}"> 
                    <i class="fa fa-user fa-fw fa-2x"></i>
                    <span class="nav-label">Users</span>
                </a>
            </li>
            {% endif %}

           

            {% if perms.users or request.user.is_staff %}
            <li {% if 'offer/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'core:offer-list' %}"> 
                    <i class="fa fa-gift  fa-fw fa-2x"></i>
                    <span class="nav-label">Offer</span>
                </a>
            </li>
            {% endif %}

            {% if perms.users or request.user.is_staff %}
            <li {% if 'banner/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'core:banner-list' %}"> 
                    <i class="fa fa-picture-o fa-fw fa-2x"></i>
                    <span class="nav-label">Banner</span>
                </a>
            </li>
            {% endif %}

            {% if perms.users or request.user.is_staff %}
            <li {% if 'subscriptionplan/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'core:subscriptionplan-list' %}"> 
                    <i class="fa fa-tasks fa-fw fa-2x"></i>
                    <span class="nav-label">Subscriptions Plan</span>
                </a>
            </li>
            {% endif %}

            {% if perms.users or request.user.is_staff %}
            <li {% if 'credit/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'core:credit-list' %}"> 
                    <i class="fa fa-credit-card fa-fw fa-2x"></i>
                    <span class="nav-label">Credit</span>
                </a>
            </li>
            {% endif %}


            {% if perms.users or request.user.is_staff %}
            <li {% if 'faq/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'core:faq-list' %}"> 
                    <i class="fa fa-question-circle fa-fw fa-2x"></i>
                    <span class="nav-label">Faq</span>
                </a>
            </li>
            {% endif %}

            {% if perms.users or request.user.is_staff %}
            <li {% if 'faq/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'core:credit-order-list' %}"> 
                    <i class="fab fa-first-order fa-fw fa-2x"></i>
                    <span class="nav-label">Credit Order</span>
                </a>
            </li>
            {% endif %}

            {% if perms.users or request.user.is_staff %}
            <li {% if 'faq/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'core:contactus-list' %}"> 
                    <i class="fa fa-envelope fa-fw fa-2x"></i>
                    <span class="nav-label">Contact Us</span>
                </a>
            </li>
            {% endif %}

            {% if perms.users or request.user.is_staff %}
            <li {% if 'faq/' in request.path %}class="active" {% endif %}>
                <a href="{% url 'core:subscriptionorder-list' %}"> 
                    <i class="fa fa-envelope fa-fw fa-2x"></i>
                    <span class="nav-label">Subscription order</span>
                </a>
            </li>
            {% endif %}


        </ul>

    </div>
</nav>