{% extends 'core/home_change_form.html' %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block page_content %}
    <form id="{{ opts.model_name }}-form" action="" method="post" enctype="multipart/form-data" autocomplete="off">

        {% include "core/partials/form_hidden_fields.html" %}

        <div class="ibox float-e-margins">

            {% include "core/partials/ibox_title.html" with ibox_title="Game Details" icon_class="fas fa-sign-in-alt" only %}

            <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-6">
                        
                        {{ form.name|as_crispy_field }}
                        {{ form.website|as_crispy_field }}
                        {{ form.logo|as_crispy_field }}
                         
                    </div>
                </div>
 
            </div>
            <!-- /ibox-content -->

        </div>
        <!-- /ibox -->

        <div class="ibox float-e-margins">

            {% include "core/partials/ibox_title.html" with ibox_title="Game Data Info" icon_class="fas fa-user" only %}

            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                  
                        {% for formset in inlines %}
                        <div  class="form-group">
                            <table>
                                
                                {{ formset.management_form|crispy }}
                                
                                {% for form in formset.forms %}
                                        <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
                                            {% for field in form.visible_fields %}
                                            <td>
                                                {# Include the hidden fields in the form #}
                                                {% if forloop.first %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                {% endif %}
                                                {{ field.errors.as_ul }}
                                                {{ field|as_crispy_field }}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                {% endfor %}
                                
                            </table>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% include "core/partials/form_footer.html" %}

    </form>

{% endblock %}


{% block js %}
{{ block.super }}
<script src="{% static 'core/js/jquery.formset.js' %}"></script>
<script>
    $(function() {
        $('.formset_row-gamedata_game').formset({
            addText: 'Add Another',
            deleteText: 'Remove',
            prefix: 'gamedata_game',
            addCssClass: 'add-row btn btn-success',
            deleteCssClass: 'hidden btn-delete btn btn-danger',
           
        });
    });
</script> 
{% endblock %}