{% extends 'core/change_list.html' %}
{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block page_content %}
    {% csrf_token %}
 

    <div class="ibox float-e-margins">
       

        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="{{ opts.model_name }}-table">
                    <thead>
                        <tr>
                           

                            <th>Id</th>
                            <th>Name</th>
                            <th>Website</th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            
                            <th>Id</th>

                            <th>Name</th>
                            <th>Website</th>
                            
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
{{ block.super }}
 
{% endblock %}