{% load static %}
{% load i18n %}
{% load admin_extras %}
{% load misc_filters %}

<header class="list-header card mb-4">
  <div class="card-body clearfix">
    <div class="float-left">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-subtitle text-muted">{{ subtitle }}</p>
    </div>

    <div class="float-right lead">
      
      {% if opts.verbose_name_plural == 'groups' %}

      <a href="{% url opts|admin_urlname:'create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> New Role</a>

     
      {% elif opts.verbose_name_plural == 'Flash Deal' %}

      <a href="{% url 'core:master-flash-deal' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Flash Deal Sync</a>

      {% elif opts.verbose_name_plural == 'Credit Order'  %}

      {% elif  opts.verbose_name_plural == 'Mailing list' %}

      {% elif  opts.verbose_name_plural == 'User Subscriptions' %}
      {% elif  opts.verbose_name_plural == 'Event Order' %}
      {% elif  opts.verbose_name_plural == 'Transaction log' %}
      {% elif  opts.verbose_name_plural == 'Influencer Transferred Money' %}



     
      {% else %}
  
      <a href="{% url opts|admin_urlname:'create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> New {{ opts.verbose_name|capfirst }}</a>
  
      {% endif %}
      
    </div>
   
  </div>
</header>
<!-- /card -->