{% extends "registration/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}


{% block content %}
<div class="container">
    <div class="pageContent">
        <div class="pageContentLeft">
            <h2>Please enter your e-mail address</h2>
            <form method="post" action="." class="form">
                {% csrf_token %}
                {{ form.email|attr:"class:form-text"|attr:"placeholder:Enter e-mail address" }}

                <input type="submit" value="E-mail new credentials" class="form-submit myButton"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}

