{% extends 'core/change_form.html' %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
    Change Password
{% endblock%}


{% block page_header %}
    Change Password
{% endblock%}


{% block current_breadcrumb %}
    <li>
        <a href="{% url 'core:index' %}">{% trans 'Home' %}</a>
    </li>
    <li class="active">
        Change Password
    </li>
{% endblock%}


{% block formset_errors %}
    {% include "core/partials/form_errors.html" with form=form %}
{% endblock%}


{% block page_content %}
    <form id="password-form" action="" method="post" enctype="multipart/form-data">

        {% include "core/partials/form_hidden_fields.html" %}

        <div class="ibox float-e-margins">

            {% include "core/partials/ibox_title.html" with ibox_title="Change Password" only %}

            <div class="ibox-content">

                <p>{% blocktrans with username=user %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}</p>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.old_password|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form.new_password1|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.new_password2|as_crispy_field }}
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-footer">
            <a href="javascript:history.back()" class="btn btn-white">Cancel</a>
            <input type="submit" value="Save" class="btn btn-primary">
        </div>

    </form>

{% endblock %}


{% block js %}
{{ block.super }}

<script>
    $(function() {
        // userroles.users.details();
    });
</script>
{% endblock %}
